/* Main Menu Styling */
.main-menu {
  display: flex;
  position: relative;
}

.main-menu li {
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
}

button {
  padding: 2%;
  width: 60%;
}

#products-menu-label, #services-menu-label, #company-menu-label {
  margin: 0;
  padding: 15px 0;
  background-color: #08254f;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* Sub Menu Styling */
.products-sub-menu, .services-sub-menu, .company-sub-menu {
  padding-left: 0;
  background-color: #dde1e7;
  display: none;
  position: absolute;
  z-index: 1;
}

.products-sub-menu li, .services-sub-menu li, .company-sub-menu li {
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
}

button #products-menu-label:hover ul.products-sub-menu li {
  display: block;
  transition-duration: 2s;
}
